<nav class="navbar-container" id="navbar"></nav>
  <div class="links-container">
    <ul>
      <li>
        <a href="/" class="nav-link" data-navigo>Home</a>
      </li>
      <li>
        <a href="/about" class="nav-link" data-navigo>About</a>
      </li>
      <li>
        <a href="/menu" class="nav-link" data-navigo>Menu</a>
      </li>
      <li>
        <a href="/contact" class="nav-link" data-navigo>Contact</a>
      </li>
      <li>
        <a href="/reservation" class="find-table-btn" data-navigo>Reservation</a>
      </li>
      <li>
        <a href="/login" class="find-table-btn-login" data-navigo>
          <span>Login</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
